*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(228, 228, 228);
}
main{
    height: 900px;
}
#container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows:  auto auto auto auto auto auto;
}
#menu{
    grid-area: 1/1/2/7;
    background-color: rgb(211, 159, 159);
    height: 40px;
}
#hamb{
    padding-top: 5px;
    height: 30px;
    width: 30px;
}
#menu-aparece{
    position: absolute;
    top: 40px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 0px;
    background-color: rgba(110, 10, 10, 0.699);
}
#menu-aparece ul{
    list-style: none;
}
#menu-aparece li{
    padding: 4px 0px;
}
#menu-aparece li:hover{
    transition: 0.5s;
    background-color: rgba(87, 8, 8, 0.699);
}
#menu-aparece a{
    text-decoration: none;
    color: white;
}
#menu-aparece a:hover{
    text-decoration: underline;
}
#conteudoprincipal{
    grid-area: 2/2/5/6;
    background-color: azure;
}

.titulo{
    text-align: center;
    font-size: 45px;
}
#titulo-menu{
    display: flex;
    justify-content: space-between;
}
#titulo-menu p{
    padding-top: 10px;
}
