*{
    margin: 0px;
    padding: 0px;
}
body{
   background-image: linear-gradient(yellow,red,orangered)
}
main{
    height: 900px;
}
#container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:  auto auto auto auto auto auto;
}
#menu{
    grid-area: 1/1/2/4;
    background-color: rgb(211, 159, 159);
    height: 45px;
}
#hamb{
    height: 25px;
    width: 25px;
}
#menu-aparece{
    position: absolute;
    top: 35px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 0px;
    background-color: brown
}
#menu-aparece li{
    padding: 4px 0px;
}
#menu-aparece li:hover{
    transition: 0.5s;
    background-color: rgba(255, 8, 8, 0.699);
}
#menu-aparece a{
    text-decoration: none;
    color: white;
}
#menu-aparece a:hover{
    text-decoration: underline;
}

footer{
    background-color: rgb(211, 159, 159);
    color: white;
    text-align: center;
    font-family:  sans-serif;
    font-size: xx-large;
    background-position: center center;
    height: 60px;
    margin:auto;
}

footer:hover{
    color: rgb(75, 38, 24);
}